
@import 'variables.css';
@import 'components/card.css';


/*
****************************************
COMMON
****************************************
*/
body, body a{
    color: white;
}

#nb_portfolio, #nb_contact_me{
    color: black;
}


/*
****************************************
HEADER
****************************************
*/

header{
    background-color: var(--nb-first-color);
}

header .navbar-toggler-icon{
    border-color: white;
}


/*
****************************************
MAIN
****************************************
*/

/*
-----------------------------
Main Sezione Start Bootstrap
-----------------------------
*/

#nb_start_bootstrap{
    background-color: var(--nb-second-color);
}


/* Nota: ho dovuto mettere le dimensioni al div contenente
l'immagine per poterla caricare (anche avendo settato
img-flud su html) */
#nb_start_bootstrap .b_avatar{
    height: 250px;
    width: 250px;
}


/*
-----------------------------
Main Sezione Portfolio
-----------------------------
*/

/*  NOTA su .portfolio_img: */
/* - non metto la dimensione width/height al contenitore dell'immagine
perchè sto sfruttando dall'html dell'immagine la classe img-fluid
che dovrebbe applicare la max-width:100% e l'altezza "auto" all'img. */



/*
-----------------------------
Main Sezione About
-----------------------------
*/

main #nb_about{
    background-color: var(--nb-second-color);
}

#nb_about button{
    background-color: var(--nb-second-color);
    color: white;
    border: 1px solid black;
    border-color: white;
}


/*
-----------------------------
Main Sezione Contact Me
-----------------------------
*/

#nb_contact_me .nb_send_data{
    background-color: var(--nb-second-color);
    color: white;
}




/*
-----------------------------
Main Sezione Info
-----------------------------
*/

main #nb_info{
    background-color: var(--nb-third-color);
}

#nb_info .nb_bootstrap_link a{
    color: #1cb99a;
}

#nb_info .nb_social{
    width: 60px;
    height: 60px;
}


/*
****************************************
FOOTER
****************************************
*/

footer{
    background-color: var(--nb-first-color);
}
