
/*
****************************************
COMMON
****************************************
*/

/* Impostazione variabile background colori principali Header/Main/Footer */
:root{
    --first-color: #2c3e50;
    --second-color: #1abc9c;
}

/*
****************************************
SETUP - ALTEZZE
****************************************
*/

header .row{
    height: 100px;
}

main{
    height: 5000px;
}

main .start_bootstrap{
    height: 500px;
}

main .portfolio{
    height: 2500px;
}

main .about{
    height: 720px;
}

footer{
    height: 200px;
}




/*
****************************************
HEADER
****************************************
*/

header .row{
    background-color: var(--first-color);
}

nav > div{
    color: white;
}




/*
****************************************
MAIN
****************************************
*/



.start_bootstrap .row{
    background-color: var(--second-color);
}


.start_bootstrap .b_avatar{
    height: 250px;
    width: 250px;
    background-color: yellow;
}


.portfolio_img{
    height: 360px;
    width: 520px;
    background-color: yellow;
    border: 1px dashed black;
}

.about{
    background-color: var(--second-color);
}


/*
****************************************
FOOTER
****************************************
*/

footer{
    background-color: var(--first-color);
}

.copyright{
    background-color: pink;
}