
/*
****************************************
COMMON
****************************************
*/

/* Impostazione variabile background colori principali Header/Main/Footer */
:root{
    --nb-first-color: #2c3e50;
    --nb-second-color: #1abc9c;
    --nb-third-color: #3a546d;
}


/*
****************************************
HEADER
****************************************
*/

header{
    background-color: var(--nb-first-color);
}


header .row .col{
    background-color: yellow;
    border: 1px dashed black;
}


/*
****************************************
MAIN
****************************************
*/



#nb_start_bootstrap{
    background-color: var(--nb-second-color);
}


#nb_start_bootstrap .b_avatar{
    height: 250px;
    width: 250px;
    background-color: yellow;
}

/*  NOTA su .portfolio_img: */
/* - non metto la dimensione width/height al contenitore dell'immagine
perchè sto sfruttando dall'html dell'immagine la classe img-fluid
che dovrebbe applicare la max-width:100% e l'altezza "auto" all'img. */
.nb_portfolio_img{
    background-color: yellow;
    border: 1px dashed black;
}

main #nb_about{
    background-color: var(--nb-second-color);
}

main #nb_info{
    background-color: var(--nb-third-color);
}


/*
****************************************
FOOTER
****************************************
*/

footer{
    background-color: var(--nb-first-color);
}

.nb_copyright{
    background-color: pink;
}