/* 
CSS-COMPONENTS:
UTILIZZARE LA SOTTOCARTELLA "COMPONENTS" PER INSERIRE
FILE CSS SINGOLI CONTENENTI REGOLE PERSONALIZZATE CSS
CHE POSSO UTILIZZARE COPIANDOLE SU ALTRI PROGETTI, 
ASSOCIANDO AD ESSI IL NOME DELLA CLASSE.



/* Regola Css da applicare a un Div che contiene
un'immagine con width: 100%, e overflow:hidden (per nascondere
eventuali eccedenze esterne all'immagine) */

/* REGOLA DA APPLICARE SUL DIV CONTENENTE L'IMMAGINE (CARD) */
.nb_card_box{
    overflow: hidden; 
    width: 490px;
    height: 350px;
}

/* REGOLA DA APPLICARE SULL'IMMAGINE (CARD) */
.nb_card_box img{
    max-width: 100%;
    border-radius: 1.25rem;
}